.transactions_list {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.header__selects {
  display: flex;
}

.header__selects select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 0.5rem;
}

.header__selects select:focus {
  outline: none;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main .icome_item,
.main .expense_item {
  flex-grow: 1;
}

.main .icome_item {
  margin-right: 1rem;
}

.main .expense_item {
  margin-left: 1rem;
}

.total_amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total_amount label {
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 1.2rem;
}
