@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto Mono", monospace;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2fcff;
}

body {
  margin: 0;
}

.invalid {
  background-color: #ffcaca;
  border: 1px solid #fd5d5d;
  border-color: #fd5d5d;
}

.button {
  padding: 0.4rem 0.7rem;
  background-color: #5e2073;
  color: #fff;
  border: 1px solid #5e2073;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.3rem;
  font-size: 1rem;
}
