@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto Mono", monospace;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2fcff;
}

body {
  margin: 0;
}
